/* celulares */

@media (max-width: 900px), (orientation: landscape) and (max-width: 900px){

    .hamburger{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
    }

    header{
        display: block;
    }

    header img{
        display: none;
    }

    header nav > ul{
       position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var( --contradestaque);
    clip-path: circle(100px at 90% -100px);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    padding-right: 0;
        
    }

    nav>ul>li>a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    color: white;
    padding: 24px 60px;

    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    
 

     nav.active ul {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        
     }

    



    div#container-horario{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    div#conteudo-sobre{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
     width: 100%;
     
}
    div#texto-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
}

section#equipe{
     text-align: center;
}
div.pastor img{
    height: 40vh;
    min-height: 100px;
    max-height: 450px;
    width: 40vh;
    min-width: 100px;
    max-width: 450px;
    aspect-ratio: 1/1;
    Object-fit: cover;
    border-radius: 50px;

    position: relative;
    z-index: 1;
}

    div#texto-pastor h2{
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    Font-weight: 700;
    
}

div#container-lideranca{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 30px;
}

section#redes{
    text-align: center;
}

div#youtube{
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    max-width: 1300px;
    width: 100%;
}

hr.hr-redes-sociais{
    display: none;
}

div#redes-sociais-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 3rem;
    color: var(--destaque);
    width: 100%;
    margin-bottom: -90px;
}

div#container-contatos{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.contato-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}


}