@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0%;
    padding: 0%;
     font-family: "Nunito Sans", sans-serif;
}

:root {
    --destaque: #54b7b5;
    --footer: #4A4A4AD9;
    --contradestaque: #103c3c;
}

body {
    height: 100vh;
   
}

/* cabecalho */
div#contatos-nav{
    display: flex;
    background-color: var(--destaque);
    gap: 20px;
    justify-content:center ;
    align-items: center;
    height: 30px;

    position: relative;
    z-index: 1;
    
}
div#contatos-nav > a{
    color: white;
    text-decoration: none;

    
}
header{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 150px;
    align-items: center;
}

img#shape{
    height: 520px;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 0;

}

img#logo{
    height: 108px;
}


/* Navegacao */
nav>ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    color: white;
}

nav>ul>li>a:hover{
    color: var(--destaque);
    text-decoration: underline;
}

/* hero */
section#hero{
    position: relative;
    
    width: 100%;
     height: clamp(620px, 80vh, 850px);

    margin-top: -128px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;

}
div.item{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

div.item.active{
    display:block ;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#prev, #next{
     position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid rgb(250, 250, 250);
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
}
#prev {
    left: 30px;
}

#next{
    right: 30px;
}

/* Horario de culto */

h1{
    font-size: 2.5rem;
    color: var(--contradestaque);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   Font-weight: 800;
    
}

section#horario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    position: relative;
    z-index: 0;
}

div#container-horario{
    display: flex;
    gap: 30px;
}

img.horario-img{
    height: 40vh;
    min-height: 400px;
    max-height: 450px;
    border-radius: 15px;
}

/* Sobre a igreja */

hr{
    border: none;
    height: 8px;
    background-color: var(--destaque);
    margin: 100px 0;
}

section#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div#conteudo-sobre{
    display: flex;
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
}

img#img-conteudo-sobre{
    height: 40vh;
    min-height: 400px;
    max-height: 450px;
    width: 40vh;
    min-width: 400px;
    max-width: 450px;
    aspect-ratio: 1/1;
    Object-fit: cover;
    border-radius: 15px;
    
}

div#texto-sobre{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#botao-saiba-mais{
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: var(--destaque);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#botao-saiba-mais:hover{
    background-color: var(--contradestaque);
    transform: translateY(-3px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}

/* Equipe */

section#equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div#container-pastor{   
    display: flex;
    gap: 30px;
    padding: 30px;
}

div.pastor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
}

div.pastor img{
    height: 40vh;
    min-height: 400px;
    max-height: 450px;
    width: 40vh;
    min-width: 400px;
    max-width: 450px;
    aspect-ratio: 1/1;
    Object-fit: cover;
    border-radius: 50px;

    position: relative;
    z-index: 1;
}

div#texto-pastor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.873);
    backdrop-filter: blur(2px);           /* Desfoque do fundo */
    -webkit-backdrop-filter: blur(10px);   /* Safari */
    width: 120%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.155);

    position: relative;
    z-index: 2;
    margin-top: -60px;
}

div#texto-pastor h2{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    Font-weight: 700;
    
}

div#texto-pastor h3{
    font-size: 1.2rem;
    color: gray;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    Font-weight: 300;
}

#botao-ler-mais{
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: var(--destaque);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#botao-ler-mais:hover{
    background-color: var(--contradestaque);
    transform: translateY(-3px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}

div#lideranca{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

div#container-lideranca{
    display: flex;
    gap: 100px;
    padding: 30px;
}

.area-lideranca{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

.area-lideranca ul{
    list-style: none;
    columns: 2;
   
}

/* redes */
section#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}
div#youtube{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin-bottom: 80px;
}

iframe#youtube-video{
    height: 40vh;
    min-height: 400px;
    max-height: 500px;
    width: 70vw;
    min-width: 600px;
    max-width: 800px;
    margin-left: 12vw;
    aspect-ratio: 1/1;
    Object-fit: cover;  
    border-radius: 15px;
}

div#redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
}

div#redes-sociais-icons{
    display: flex;
    gap: 30px;
    font-size: 3rem;
    color: var(--destaque);
    width: 100%;
    margin-bottom: -90px;
}

hr#hr-redes-sociais{
    border: none;
    height: 4px;
    background-color: var(--destaque);
    width: 50%;
    margin-top: 20px;
}

section#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

div#container-contatos{
    display: flex;
    gap: 30px;
    padding: 30px;
    margin-bottom: 80px;
}

.objeto-contato{
height: 60vh;
    min-height: 100px;
    max-height: 500px;
width: 60vh;
    min-width: 100px;
    max-width: 500px;
    aspect-ratio: 1/1;
    Object-fit: cover;  
    border-radius: 15px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.206);
   margin-bottom: 10px;
}

/* footer */
footer img{
    width: 6rem;
}
footer{
    background-color: var(--footer);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    padding: 20px 0;  
}

footer >p>a{
    color: var(--destaque);
    font-weight: bold;
    text-decoration: none;
}


/* animacao de scroll */
.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease-out, filter 0.6s ease-out;
  
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s ease-out, filter 0.6s ease-out; 
}

section#horario.hidden img{
    transform: translatex(-100%);
}
section#horario.show img{
    transform: translatex(0%);
    transition: transform 1s ease-out;
}

#container-horario :nth-child(1).hidden{
    transition-delay: 200ms;
    
}

#container-horario :nth-child(2).show{
    transition-delay: 300ms;
}

#container-horario :nth-child(3).hidden{
    transition-delay: 400ms;
}

